name: task_management_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ^3.5.3
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  sizer: ^3.0.4
  gap: ^3.0.1
  intl: ^0.19.0
  percent_indicator: ^4.2.3
  flutter_rounded_date_picker: ^3.0.4
  day_night_time_picker: ^1.3.1
  dynamic_timeline:
    path: ./dynamic_timeline
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/
    
    
    #https://pub.dev/packages/dynamic_timeline
